:root {
	--theme-color: #165264;
	--theme-transition: all 0.2s ease-in-out;
	--theme-font: 300 16px/1.7 "Roboto", "Noto Sans TC", sans-serif;
	--theme-font-color: #9a9a9a;
	--theme-header-color: rgba(255, 255, 255, .8);
	--theme-nav-height: 3.75rem;
	--theme-hover-color: #3d3d3d;
	--theme-background-color: #fcfcfb;
	--contrast-light-color: #f2a365;
	--contrast-dark-color: #222831;
}

::-webkit-scrollbar {
	width: .6rem;
}

::-webkit-scrollbar-thumb {
	border-radius: .6rem;
	background: rgb(219,219,219);
}

*, *:before, *:after {
	box-sizing: border-box;
}

html {
	color: var(--theme-font-color);
	font: var(--theme-font);
	scroll-behavior: smooth;
	-webkit-text-size-adjust: none;
}

body {
	margin: 0;
	background: var(--theme-background-color);
}

img {
	max-width: 100%;
}

a {
	color: var(--theme-color);
	transition: var(--theme-transition)
}
a:hover {
	color: var(--theme-hover-color)
}

#header {
	padding: 10rem 5% 8rem;
	border-top: .5rem solid var(--theme-color);
	width: 100%;
	text-align: center;
	background-image: url(banner.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

	#header h1 {
		margin-bottom: .5em;
		font-size: 3.5rem;
		line-height: 1;
		font-weight: 100;
		color: #fff;
	}

	#header p {
		margin-bottom: 1.75rem;
		color: var(--theme-header-color);
	}

@media screen and (max-width: 768px) {
	#header h1 {
		font-size: 2.5rem;
	}
}

#nav-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	position: fixed;
	top: 0;
	padding: 2rem 5% 0;
	width: 100%;
	line-height: var(--theme-nav-height);
	transition: var(--theme-transition);
	z-index: 100;
}

	#nav-container.fixed {
		padding-top: 0;
		background: var(--theme-color);
	}

	#nav-container a {
		color: var(--theme-header-color);
		text-decoration: none;
		transition: var(--theme-transition);
	}

		#nav-container a:hover {
			color: #fff;
		}

	#nav-container .logo {
		color: #fff;
		font-weight: bold;
	}

	#nav-container #nav-inner {
		display: flex;
	}

		#nav-container #nav-inner a {
			padding: 0 .75rem;
		}

	#nav-container #nav-open {
		display: none;
		width: var(--theme-nav-height);
		text-align: center;
		cursor: pointer;
	}

	#nav-container #nav-close {
		display: none;
		width: 100%;
		text-align: center;
		cursor: pointer;
	}

@media screen and (max-width: 768px) {
	#nav-container {
		padding-right: 0;
	}

		#nav-container #nav-inner {
			position: fixed;
			top: 0;
			right: 0;
			bottom: 0;
			padding: 2rem;
			width: 20rem;
			flex-direction: column;
			text-align: center;
			background: var(--theme-color);
			transform: translateX(100%);
			transition: var(--theme-transition);
		}

			#nav-container #nav-inner.open {
				transform: translateX(0)
			}

			#nav-container #nav-inner a {
				padding: 0;
			}

		#nav-container #nav-open, #nav-container #nav-close {
			display: inline;
		}
}
#footer {
	margin: 3rem 5% 0;
	padding: 3rem 0;
	border-top: 1px solid rgba(0,0,0,.2);
}

	#footer .copyright a {
		text-decoration: none;
	}

	#footer .copyright p {
		margin: 0;
	}

		#footer .copyright p:not(:first-child) {
			padding-left: 1rem;
		}

	#footer .icons {
		margin: 0;
	}

@media screen and (max-width: 768px) {
	#footer {
		flex-direction: column;
	}
}
#sites {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	margin: 6rem 5% 0;
}
#sites .site {
	position: relative;
	margin: 1rem;
	padding: 0;
	width: 16rem;
}
#sites .site .title {
	color: var(--theme-color);
}
#sites .site .thumbnail {
	display: block;
	margin-bottom: .5rem;
	width: 16rem;
	height: 9rem;
	object-fit: cover;
	overflow: hidden;
}
#sites .site .link {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	transition: var(--theme-transition);
}
#sites .site .link:hover {
	background: rgba(255,255,255,.2);
}
#app {
	margin: 6rem auto;
}

.button {
	position: relative;
	outline: none;
	padding: .3rem 1rem;
	border: 1px solid #333;
	border-radius: .5rem;
	background: transparent;
	font: inherit;
	color: #333;
	cursor: pointer;
	transition: var(--theme-transition);
}

	.button:after {
		content: "";
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
	}

	.button:hover {
		background: #333;
		color: #fff;
	}

	.button:active {
		transform: translateY(.1rem);
	}

	.button.active {
		border-color: var(--contrast-light-color);
		background: var(--contrast-light-color);
		color: var(--contrast-dark-color);
		font-weight: bold;
	}

	.button.switch:hover {
		border-color: #ddd !important;
		background: #ddd !important;
		color: #333 !important;
	}

	.button.safe:hover {
		border-color: #008000 !important;
		background: #008000 !important;
	}

	.button.warn:hover {
		border-color: #ff0000 !important;
		background: #ff0000 !important;
	}

.description {
    margin: 2rem 5%;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}
#app {
    display: flex;
    margin: 6rem 5%;
    flex-wrap: wrap;
    justify-content: space-around;
}
.control-panel {
    margin: 2rem 5%;
    text-align: center;
}
.list {
    position: relative;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 1.2rem;
    table-layout: fixed;
}
    .list:before {
        content: attr(data-title);
        position: absolute;
        top: 0;
        left: 1.5rem;
        padding: 0 .5rem;
        background: var(--theme-background-color);
        color: var(--theme-color);
        font-weight: bold;
        transform: translateY(-50%);
    }
    .list tr {
        transition: var(--theme-transition);
    }
    .list tr.hidden {
        opacity: .2
    }
    .list td {
        padding: .5rem 1rem;
        color: #333;
    }
        .list td.title {
            color: var(--theme-color);
            font-weight: bold;
        }

    /* Checkbox style credit: https://codepen.io/andreasstorm/pen/deRvMy */

    .list .checkbox {
        display: none;
    }

    .list .label {
        position: relative;
        display: block;
        margin: auto;
        width: 18px;
        height: 18px;
        -webkit-tap-highlight-color: transparent;
        transform: translate3d(0, 0, 0);
        font-size: 0;
        cursor: pointer;
    }

        .list .label:before {
            content: "";
            position: absolute;
            top: -15px;
            left: -15px;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            background: rgba(34,50,84,0.03);
            opacity: 0;
            transition: opacity 0.2s ease;
        }

        .list .label svg {
            position: relative;
            z-index: 1;
            fill: none;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke: #165264;
            stroke-width: 1.5;
            transform: translate3d(0, 0, 0);
            transition: all 0.2s ease;
        }

            .list .label svg path {
                stroke-dasharray: 60;
                stroke-dashoffset: 0;
            }

            .list .label svg polyline {
                stroke-dasharray: 22;
                stroke-dashoffset: 66;
            }

        .list .label:hover:before {
            opacity: 1;
        }

    .list .checkbox:checked + .label svg {
        stroke: #165264;
    }

        .list .checkbox:checked + .label svg path {
            stroke-dashoffset: 60;
            transition: all 0.3s linear;
        }

        .list .checkbox:checked + .label svg polyline {
            stroke-dashoffset: 42;
            transition: all 0.2s linear;
            transition-delay: 0.15s;
        }
    /* End of checkbox style */