#header {
    background-image: url(banner.jpg)
}
.description {
    margin: 2rem 5%;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
}
#app {
    display: flex;
    margin: 6rem 5%;
    flex-wrap: wrap;
    justify-content: space-around;
}
.control-panel {
    margin: 2rem 5%;
    text-align: center;
}
.list {
    position: relative;
    margin: 1rem;
    padding: 1rem;
    border: 1px solid #ccc;
    text-align: center;
    font-size: 1.2rem;
    table-layout: fixed;
}
    .list:before {
        content: attr(data-title);
        position: absolute;
        top: 0;
        left: 1.5rem;
        padding: 0 .5rem;
        background: var(--theme-background-color);
        color: var(--theme-color);
        font-weight: bold;
        transform: translateY(-50%);
    }
    .list tr {
        transition: var(--theme-transition);
    }
    .list tr.hidden {
        opacity: .2
    }
    .list td {
        padding: .5rem 1rem;
        color: #333;
    }
        .list td.title {
            color: var(--theme-color);
            font-weight: bold;
        }

    /* Checkbox style credit: https://codepen.io/andreasstorm/pen/deRvMy */

    .list .checkbox {
        display: none;
    }

    .list .label {
        position: relative;
        display: block;
        margin: auto;
        width: 18px;
        height: 18px;
        -webkit-tap-highlight-color: transparent;
        transform: translate3d(0, 0, 0);
        font-size: 0;
        cursor: pointer;
    }

        .list .label:before {
            content: "";
            position: absolute;
            top: -15px;
            left: -15px;
            width: 48px;
            height: 48px;
            border-radius: 50%;
            background: rgba(34,50,84,0.03);
            opacity: 0;
            transition: opacity 0.2s ease;
        }

        .list .label svg {
            position: relative;
            z-index: 1;
            fill: none;
            stroke-linecap: round;
            stroke-linejoin: round;
            stroke: var(--theme-color);
            stroke-width: 1.5;
            transform: translate3d(0, 0, 0);
            transition: all 0.2s ease;
        }

            .list .label svg path {
                stroke-dasharray: 60;
                stroke-dashoffset: 0;
            }

            .list .label svg polyline {
                stroke-dasharray: 22;
                stroke-dashoffset: 66;
            }

        .list .label:hover:before {
            opacity: 1;
        }

    .list .checkbox:checked + .label svg {
        stroke: var(--theme-color);
    }

        .list .checkbox:checked + .label svg path {
            stroke-dashoffset: 60;
            transition: all 0.3s linear;
        }

        .list .checkbox:checked + .label svg polyline {
            stroke-dashoffset: 42;
            transition: all 0.2s linear;
            transition-delay: 0.15s;
        }
    /* End of checkbox style */